# Build a quiz game (Space)

Requirments:

1. Game intro

    # Will Do:
    - get user to input a name 
    - User name to be no less than four letters


    #Stretch Goal:
    - Add game instructions / DONE
    - Count down sequence / DONE
    - Add emojis



2. Start Game (show first question and show options "ansers")

     # will Do:
     - Display questions and answers, one at a time.
     - give user a way to input answer

     #Stretch Goal:
     - Display questions in a random order.
     - Display ansers (A,B,C) or (1,2,3)




3. Grade the users anser (compare users anser to the correct answer)

    # Will Do:
    - compare user and against correct answer
    - Give the user a score for correct answer
 
      #Stretch Goal:




4. End game

    # will Do:

    #Stretch Goal:
 


# Sundays list of things to do. 
. add user instructions - DONE!!
. create a list question questions and answers
. display questions and answers
. create an input for the user to answer question.
. Increment answer. 